[submodule ".config/rofiemoji-rofiunicode"]
	path = .config/rofiemoji-rofiunicode
	url = https://git.teknik.io/matf/rofiemoji-rofiunicode
[submodule ".themes/dracula"]
	path = .themes/dracula
	url = https://github.com/dracula/gtk/
[submodule ".config/qutebrowser/qutewal"]
	path = .config/qutebrowser/qutewal
	url = https://gitlab.com/jjzmajic/qutewal
