window {
  font-family: CaskaydiaCove Nerd Font Mono;
}
progressbar {


  &, & * {
    all: unset;
  }

  progress {
    min-width: 1px;
    //background-color: #8CD68F;
    //box-shadow: 0 0 10px 3px #8CD68F22;
  }
}

progressbar progress {
    background: repeating-linear-gradient(0deg, #FF217C, #000); /*, #b8bb26, #fabd2f);*/
    background-size: 100% 200%;

    animation: AnimationName 1s linear infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 0%}
    100%{background-position:0% 200%}
}
